<!DOCTYPE html>
<html>
<head>
    <title>Дизайнер отчетов</title>
    <meta charset="utf-8" />
    <link href="/static/css/demo.css" rel="stylesheet">
    <link href="/static/css/stimulsoft.viewer.office2013.css" rel="stylesheet">
    <link href="/static/css/stimulsoft.designer.office2013.white.blue.css" rel="stylesheet">
    <script src="/static/scripts/stimulsoft.reports.js" type="text/javascript"></script>
    <script src="/static/scripts/stimulsoft.viewer.js" type="text/javascript"></script>
    <script src="/static/scripts/stimulsoft.designer.js" type="text/javascript"></script>
    <script src="/static/scripts/jquery-1.12.1.min.js" type="text/javascript"></script>
    <script>
        var report;

        /**
         * Формирование дизайнера отчета
         */
        function createDesigner() {
            // Параметры дизайнера отчетов
            var options = new Stimulsoft.Designer.StiDesignerOptions();
            options.appearance.fullScreenMode = true;
            options.appearance.showSaveDialog = false;

            options.toolbar.showFileMenu = false;
            options.toolbar.showAboutButton = false;

            // Формирование экземпляра дизайнера
            var designer = new Stimulsoft.Designer.StiDesigner(options, "StiDesigner", false);

            // Формируем экземпляр отчета
            report = new Stimulsoft.Report.StiReport();

            // Загружаем шаблон отчета
            var templatePath = "{{ template_url | safe }}";

            try {
                report.loadFile(templatePath);
            } catch (error) {
                alert("Не удалось загрузить шаблон " +
                        templatePath +
                        ", возможно он отсутствует.");

                return;
            }

            // Привязка переменных к шаблону
            {% for variable in variables %}
            report.dictionary.variables.add(
                new Stimulsoft.Report.Dictionary.StiVariable(
                    // Категория
                    '{{ variable.category }}',
                    // Наименование
                    '{{ variable.name }}',
                    // Псевдоним
                    '{{ variable.name }}',
                    // Описание
                    '{{ variable.description }}',
                    // Тип
                    String,
                    // Значение
                    '{{ variable.value }}'
                )
            );
            {% endfor %}

            // Привязка источников данных к шаблону
            report.dictionary.databases.clear();

            {% for source in sources %}
            report.dictionary.databases.add(
                new Stimulsoft.Report.Dictionary.StiJsonDatabase(
                    '{{ source.name }}',
                    '{{ source.url }}'
                )
            );
            {% endfor %}

            // Связывание шаблона и дизайнера
            designer.report = report;
            // Рендерим дизайнер в элемент с указанным идентификатором
            designer.renderHtml("designerContent");
        }

        // Обработка логики сохранения шаблона
        window.addEventListener('templatesave', function(e) {
            debugger;
            if (report) {
                var detail = e.detail;
                var params = {
                    'report': report.saveToJsonString(),
                    'id': detail.reportId
                };

                if (detail.reportName) {
                    params['name'] = detail.reportName;
                }

                $.ajax({
                    url: '{{ report_save_url }}',
                    data: params,
                    method: 'POST'
                }).done(function(response) {
                    debugger;
                });
            }
        });

        window.onload = function() {
            // Загружаем файл локализации и устанавливаем его по умолчанию
            Stimulsoft.Base.Localization.StiLocalization.setLocalizationFile("/static/local/ru.xml", true);

            createDesigner();
        };
    </script>
</head>
<body>
    <div id="designerContent"></div>
</body>
</html>